h1, h2, h3, h4, h5 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: var(--grey-8);
}

p, span, a {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: var(--grey-8);
}