.v-tab {
  font-size: 1.4rem !important;
  text-transform: capitalize !important;
  font-weight: 300 !important;
}

.v-application {
  background-color: var(--grey-1) !important;
}

.v-btn {
  text-transform: none !important;
}

.v-btn.v-size--default {
  font-size: 1.1rem !important;
}