@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400&family=Ubuntu:wght@300&display=swap');

h1, h2, h3, h4, h5 {
	color: var(--title);
	font-weight: 600;
	font-family: 'Josefin Sans', sans-serif;
}

p, span, a {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
	color: var(--text);
}