.v-tab {
	font-size: 1.4rem !important;
	text-transform: lowercase !important;
	font-weight: 500 !important;
	justify-content: start !important;
	font-family: 'Roboto', sans-serif;
}

.v-tab .v-icon {
	margin: 0 2rem !important
}

.v-application {
	background-color: var(--background) !important;
}

.v-btn {
	text-transform: none !important;
}

.v-btn.v-size--x-large {
	font-size: 1.5rem !important;
}

.v-btn.v-size--default {
	font-size: 1.1rem !important;
}

.v-subheader {
	font-size: 1.5rem !important;
	color: var(--title) !important;
	margin: 0 0 0 2rem;
	font-weight: 500;
	text-transform: lowercase !important;
	margin-top: .5rem !important;
}

.v-item-group.v-bottom-navigation .v-btn {
	border-radius: 50%;
	min-width: 40px;
	height: 40px;
}
