/* .theme--dark.v-application {
  background: var(--bg-1) !important;
}

.theme--dark.v-list {
  background: var(--bg-3) !important;
}

.theme--dark.v-tabs > .v-tabs-bar .v-tab:not(.v-tab--active),
.theme--dark.v-tabs > .v-tabs-bar .v-tab:not(.v-tab--active) > .v-icon {
  color: var(--light-grey-5) !important;
}

.nav-drawer-tabs .v-tab {
  justify-content: start;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  letter-spacing: .024rem;
  line-height: 1.8rem;
  text-transform: none;
  padding: 0 0 0 1.2rem;
  
}

.nav-drawer-tabs .v-tab .v-icon {
  margin: 0 2.5rem 0 1.2rem;
} */