:root {
  --primary: #049CE5;
  --primary-variant-1: #29B4F5;
  --primary-variant-2: #4EC3F8;
  --primary-variant-3: #80D4F9;
  --secondary: #E54918;
  --secondary-variant-1: #F34F1C;
  --secondary-variant-2: #FF7245;
  --secondary-variant-3: #FF8E69;
  --accent: #796FFF;
  --error: #FF8C64;
  --dark-1: #191919;
  --dark-2: #222222;
}